.canvas {
  padding-top: 50px;
  margin: 0 auto;
  width: 800px;
}

.title-canvas {
  padding-top: 50px;
  margin: 0 auto;
  width: 700px;
}

.reset {
  cursor: pointer;
  position: absolute;
  float: right;
  margin-left: 730px;
  margin-top: 30px;
}

.reset img {
  width: 30px;
}

.score {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  position: absolute;
  padding-left: 15px;
  padding-top: 5px;
  pointer-events: none;

}

.instructions {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16;
  color: #fff;
  padding-top: 100px;
  text-align: center;
  position: absolute;
  width: 500px;
  margin: 0 150px 0 150px;
  pointer-events: none;
}

.instructions2 {
  font-size: 12px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #fff;
  padding-top: 120px;
  text-align: center;
  position: absolute;
  width: 500px;
  margin: 0 150px 0 150px;
  pointer-events: none;

}

.heading-instructions {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: absolute;
  color: #000;
  text-align: center;
  width: 500px;
  margin-top: 170px;
  margin-left: 100px;
  pointer-events: none;
}

.gif-instructions {
  position: absolute;
  margin-top: 97px;
  pointer-events: none;
}

.gif-instructions img {
  width: 165px;
}
