.canvas {
  padding-top: 50px;
  margin: 0 auto;
  width: 800px;
}

.title-canvas {
  padding-top: 50px;
  margin: 0 auto;
  width: 700px;
}

.reset {
  cursor: pointer;
}

.score {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 24px;
  color: #fff;
  position: absolute;
  padding-left: 15px;
  padding-top: 5px;


}
